

<!-- About Election Cetagories -->
<li class="nav-item">
    <a href="#" class="nav-link">
      <i  class="nav-icon fa-solid fa-check-to-slot"></i>
        
      <p>
        Candidates
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li >
        <a href="/none_aproval_candidate/" class="nav-link">
          <i class="far fa-circle nav-icon"></i>     
          <p>Elections & Candidates</p>
        </a>
      </li>


    </ul>
  </li>
<!-- End About Election  -->



<!-- About Election Cetagories -->
<li class="nav-item">
  <a href="#" class="nav-link">
    <i  class="nav-icon fa-solid fa-check-to-slot"></i>
      
    <p>
      Voters
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li >
      <a href="/none_aproval_voters/" class="nav-link">
        <i class="far fa-circle nav-icon"></i>     
        <p>None Aproval Voters</p>
      </a>
    </li>


    <li>
      <a href="/all_activate_voters/" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p> All Voters</p>
      </a>
    </li>



  </ul>
</li>
<!-- End About Election  -->












  

  <li class="nav-link" >
    <a href="/logoutrout/" class="nav-link">
      <i class="nav-icon fas fa-right-from-bracket"></i>
      <p>
        Logout
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
  </li>
<!-- End About  voters -->