
<!-- About Commissionar -->
<li class="nav-item">
  <a href="#" class="nav-link">
    <i  class="nav-icon fa-solid fa-user-nurse"></i>
  
   
 
    <p>
      Election Commissioner
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li>
      <a href="/save_commissioner_data/" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
    
        <p>Add an Commissioner</p>
      </a>
    </li>


    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Commissioners</p>
      </a>
    </li>


  </ul>
</li>
<!-- End About Election Commissinar  -->




<!-- About Election -->
<li class="nav-item">
    <a href="#" class="nav-link">
      <i  class="nav-icon fa-solid fa-check-to-slot"></i>
        
      <p>
        Elections
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
      
          <p>Create Election</p>
        </a>
      </li>


      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Up comming Elections</p>
        </a>
      </li>


      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>All Elections</p>
        </a>
      </li>



    </ul>
  </li>
<!-- End About Election  -->



<!-- About Voters -->
  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fas fa-user"></i>
      <p>
        Representatives
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li>
        <a href="/add_a_representative/" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Add representative</p>
        </a>
      </li>

      <li >
        <a href="#" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Representatives</p>
        </a>
      </li>
    </ul>
  </li>


  

  <li class="nav-link" >
    <a href="/logoutrout/" class="nav-link">
      <i class="nav-icon fas fa-right-from-bracket"></i>
      <p>
        Logout
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
  </li>
<!-- End About  voters -->