{% extends "base.html" %}


{% block title %}
Election Category
{% endblock title %}


{% block content %}


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary mt-4">
                <div class="card-header">
                  <h3 class="card-title">Election Category Form</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->



                <form method="post" action = "{% url 'save_election_category_data'%}" enctype="multipart/form-data">
                    {% csrf_token %}
                  <div class="card-body">

                    {% if messages %}
                    {{message.tags}}  
                    <div class="alert alert-primary" role = 'alert'>
                      {% for message in messages %}
                      {{message}}
                      {% endfor %}
            
                    </div>
                    {% endif %}

                    <div class="form-group">
                      <label for="exampleInputEmail1">Election Type</label>
                      <input required type="text" maxlength="50" name = "election_type" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Designation</label>
                        <input required type="text" maxlength="25" name = "designation" class="form-control" >
                    </div>
                    
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                  </div>
                </form>





              </div>
           
  
            </div>
            
    
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->


{% endblock content %}