{% extends "base.html" %}

{% block title %}
None Aproval Candidates
{% endblock title %}


{% block content %}




<div class="row p-4">
    <h2 class="mb-5"><b>All Election & Candidates</b></h2>
    {% for x in elections %}
    <div style="border-radius: 20px;" class="col-12 card p-5 mb-5 shadow-lg ">
        <h3 style="text-align: center;" class="mb-5" >{{x.comission_id.Zone_Name}} {{x.election_type.election_type}}({{x.Election_Date}})</h3>
        <div class="row">

            <div class="col-6">
                <a class="btn btn-danger w-100" href="/view_none_aproval_and_aproval_candidates_no/{{x.id}}/0/"> view None Aproval candidates</a>
            </div>

            <div class="col-6">
                <a class="btn btn-success w-100" href="/view_none_aproval_and_aproval_candidates_no/{{x.id}}/1/"> view Selected candidates</a>
            </div>

        </div>  
    </div>
    {% endfor %}
</div>




{% endblock content %}