

<!-- About Election Cetagories -->
<li class="nav-item">
    <a href="#" class="nav-link">
      <i  class="nav-icon fa-solid fa-check-to-slot"></i>
        
      <p>
        Elections Categories
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li>
        <a href="/save_election_category_data/" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
      
          <p>Create a Category</p>
        </a>
      </li>


      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Categories List</p>
        </a>
      </li>

    </ul>
  </li>
<!-- End About Election  -->


<!-- About Election Officers -->
<li class="nav-item">
  <a href="#" class="nav-link">
    <i  class="nav-icon fa-solid fa-user-plus"></i>
    
      
    <p>
      Elections Officers
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>

  <ul class="nav nav-treeview">
    <li>
      <a href="/add_nics_officers/" class="nav-link">
        <i class="far fa-circle nav-icon"></i>    
        <p>Add An Officer</p>
      </a>
    </li>
    
    


    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Officers</p>
      </a>
    </li>

  </ul>
</li>
<!-- End About Oficers  -->




<!-- About Elections -->
  <li class="nav-item">
    <a href="#" class="nav-link">
      <i class="nav-icon fa-brands fa-gg"></i>
  
      <p>
        Elections
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li >
        <a href="/arrenge_an_election/" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Arrenge an Elections</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>Upcomming Elections</p>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="far fa-circle nav-icon"></i>
          <p>All Elections</p>
        </a>
      </li>




    </ul>
  </li>

  <!-- End About Elections -->







  

  <li class="nav-link" >
    <a href="/logoutrout/" class="nav-link">
      <i class="nav-icon fas fa-right-from-bracket"></i>
      <p>
        Logout
        <i class="right fas fa-angle-left"></i>
      </p>
    </a>
  </li>
<!-- End About  voters -->