<div class="row p-3">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>
    
          <div class="info-box-content">
            <span class="info-box-text">Total Member</span>
            <span class="info-box-number">
             {{total_member}}
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    
    
    
    
    
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user-graduate"></i></span>
    
          <div class="info-box-content">
            <span class="info-box-text">Total voters</span>
            <span class="info-box-number">
              {{total_voters}}
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    
    
    
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-chess-king"></i></span>
    
          <div class="info-box-content">
            <span class="info-box-text">Total 
              Representative</span>
            <span class="info-box-number">
              {{total_representive}}
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    
    
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-flag"></i></span>
    
          <div class="info-box-content">
            <span class="info-box-text">Total elections</span>
            <span class="info-box-number">
             {{total_election}}
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>
